*{
    margin: 0%;
    padding: 0%;
    font-family: 'Baloo Bhai', cursive;
}

.nav{
    display: flex;
    background-color: black;
    color: blanchedalmond;
}
.nav li{
    padding: 5px 10px;
    margin: 10px auto;
    list-style:none;
    align-items: center;
}
ul li input{
    background-color: rgb(32, 34, 34);
    border: 2px solid grey;
    height: 20px;
    text-align: center;
    margin-top: 0px;
}
.container {
    border: 3px solid grey;
    display: block;
    width: 700px;
    height: 400px;
    padding: 20px;
    font-size: 2.5rem;
    color: honeydew;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    text-justify: inter-word;
    background-color: black;
    border-radius: 70px 150px;
    box-shadow: 30px 40px 20px gray;
}
.container::before{
    content: "";
    background-color: black;
    opacity: 0.9;
    z-index: -1;
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}
#btn{
    width: 15rem;
    height: 5rem;
    margin:auto;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(138, 134, 133);
    border: 2px solid black;
    padding: 6px;
    border-radius: 60px 100px;
    box-shadow: 6px 6px 8px rgb(68, 67, 67);
}
.punch{
    font-size: 20px;
    margin: 2em auto;
    
}